*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




#index {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%   ;
  overflow: hidden;

}
#index .message{
padding: 3rem 5rem;
position: relative;
}
#index .btn{
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}





#gallery{
  background-image: url("https://images.unsplash.com/photo-1518014179319-21e9e8139b05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80  ");
  width: 100%;
  height: 100%;
background-repeat: no-repeat;
background-size: 100% 100% ;
}


#gallery h1{
  font-family: 'Calistoga', cursive
}
#gallery .card-footer{
 font-family: 'Permanent Marker', cursive;
}

#gallery #card-title {
font-family: 'Abril Fatface', cursive;
}

#gallery .card-text{
font-family: 'Merriweather', serif; 
font-weight: lighter;
}









#gallery #cards{
  margin:8%;


}
#gallery .inner{
  overflow: hidden;
}

#gallery .inner #aaa{
  transition:   all 1.5s ease;
}


#gallery .inner:hover #aaa{
  transform: scale(1.3);
}
  #gallery img {
    padding: 5px 0 5px 18px;
  }

.mdl{
  
  width: 100%;
  height: 70%;
}


#gallery .card-footer a{
  color: white;
  text-decoration: none;
}


/*.jumbotron img {
  width: 300px;
}*/

/*# sourceMappingURL=style.css.map */







#about .carousel-inner{
  height: 200px;
  width: 100%;
object-fit: cover;


}

#about{
  background: url("https://images.unsplash.com/flagged/photo-1567934150921-7632371abb32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  width: 100%;
  height: 100%;
background-repeat: no-repeat;
background-size: 100% 100% ;
}

#about .card{
  height: 517px;
}

#about #ax{
  height:  200px;
  width: 100%;
  object-fit: contain;
}


}
#about .carousel{
  margin: 10px; 
}


#about .jumbotron, h3, h5 {
  font-family: 'Merriweather', serif;
}



#about p{
  padding-top: 5px;

  margin-top: 10px;
font-family: 'Alata', sans-serif;
font-weight: lighter; ;
}





























/*contacts*/



#contact{
  background: black;
  font-family: 'Alata', sans-serif;
}


#contact img{
  height: 400px;
  width: 100%;
  object-fit: contain;
}



#home #aaa{
  padding: 20px 20px 20px 25px;
}

#home {
  background: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=655&q=80");
width: 100%;
  height: 100%;
background-repeat: no-repeat;
background-size: 100% 100% ;


}

#home img{
  height: 400px;
  width: 100%;
  object-fit: contain;
}

#home h1{
  font-family: 'Calistoga', cursive
}
#home .card-footer{
 font-family: 'Permanent Marker', cursive;
}

#home #card-title {
font-family: 'Abril Fatface', cursive;
}

#home .card-text{
font-family: 'Merriweather', serif; 
font-weight: lighter;
}


#home .navbar {
    font-family: 'Calistoga', cursive
}





@media only screen and (min-width: 300px) and (max-width: 960px){

#gallery{
  background-image:url("https://images.unsplash.com/photo-1518014179319-21e9e8139b05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  width: 100%;
  height: 100%;
background-repeat: no-repeat;
background-size: cover ;
}

#about{
  background: url("https://images.unsplash.com/flagged/photo-1567934150921-7632371abb32?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  width: 100%;
  height: 100%;
background-repeat: no-repeat;
background-size: cover ;
}

#contact img{
  display: none;
}

#home #inu{
  display: none;
}


}